@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #020617;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::selection {
  background-color: #a855f7;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}